.section-3-services {
    padding: 100px 0px;
    background-color: #f7f7f7;
    border: 1px solid #eaeaea;
    .metn {
        h2 {
            margin-bottom: 35px;
        }
        p {
            font-size: 13px;
            font-weight: 100;
        }
    }
}

.section-4-services {
    padding: 75px 0px;
    background-color: #39ce69;
    .metn {
        h2 {
            font-size: 30px;
            font-weight: bold;
            color: white;
            display: inline-block;
            text-align: center;
        }
        a {
            text-align: center;
        }
        .ct-btn {
            
            display: inline-block;
            padding: 10px 30px;
            font-size: 13px;
            font-weight: 700;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            border-radius: 2px;
            transition: all 0.2s linear;
            background: transparent;
            border: 1.5px solid #fff;
            &:hover {
                background-color: white;
                color: black;
                transform: translateY(-3px);
                transition: all 0.2s linear;
            }
        }
    }
}

.counter {
    background-image: url(../img/counter-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    .main {
        padding: 100px 0px;
        h2 {
            text-align: center;
            color: #25d25e;
            font-weight: bold;
        }
        p {
            text-align: center;
            color: white;
            font-weight: bold;
        }
    }
}