.section6 {
    padding: 100px 0px;
    .head {
        h2 {
            margin-bottom: 50px;
            position: relative;
            &::before {
                background-color: #25d25e;
                content: '';
                height: 2px;
                width: 80px;
                position: absolute;
                left: calc(50% - 40px);
                bottom: -15px;
            }
        }
        p {
            margin-bottom: 50px;
        }
    }
    .slider {
        .case-content {
            img {
                display: block;
                width: 84%;
            }
        }
        .hover {
            position: absolute;
            width: 85%;
            height: 100%;
            top: 0%;
            background-color: #25d25e;
            transition: 0.3s ease;
            .content-inner {
                h4 {
                    color: #fff;
                    font-weight: 700;
                    margin: 15px 0 10px;
                    opacity: 0;
                    padding-top: 75px;
                    color: white;
                    font-weight: bold;
                    position: relative;
                    &::before {
                        background-color: white;
                        height: 2px;
                        width: 70px;
                        content: '';
                        position: absolute;
                        left: calc(50% - 35px);
                        bottom: -10px;
                        transition: all 0.2s linear;
                    }
                }
                a {
                    opacity: 0;
                    color: white;
                    font-weight: bold;
                    text-decoration: none;
                }
                p {
                    padding: 10px 20px 0px 20px;
                    color: white;
                    font-weight: 200;
                    opacity: 0;
                }
            }
        }
    }
}